body{
    color:#535353;
    margin:2px;
    min-width:1007px;
    font-family: Arial,sans-serif;
}

img{
    border:0px;
}
a{
    text-decoration:none;
}
.left{
    float:left;
}
.right{
    float:right;
}
.TAN-header{
    position:relative;
    height:75px;
    width:100%;
    margin-bottom:2px;
}
.TAN-logo{
    position:absolute;
    top:0px;
    left:0px;
    background-image: url("images/logo.png");
    height:75px;
    margin:0px;
    text-indent:-1000px;
    width:617px;
}
.TAN-top-menu{
    position:absolute;
    top:0px;
    right:0px;
    width:389px;
    height:45px;
    background-color:#000;
}
.TAN-top-menu > p{
    color:#fff;
    font-size: 0.8em;
    font-weight: bold;
    margin:2px 2px 0px 0px;
    text-align:right;
}
.TAN-search{
    position:absolute;
    bottom:0px;
    right:0px;
    width:389px;
    height:28px;
    background-color:#000;
    text-align: right;
    margin:0px;
}
.TAN-search > fieldset{
    margin:0px;
    border:0px;
    padding:2px 2px 0px 0px;
}
.TAN-search > fieldset > input[type="text"]{
    width:317px;
}
.TAN-search > fieldset > input[type="submit"]{
    width:64px;
}
#TAN-menu{
    background-color:#3f3f3f;
    height:50px;
}
.TAN-main{
    background-color:#000;
    padding:5px;
}

.TAN-object{
    width:300px;
    background-color:#fff;
    padding:5px;
    text-align:center;
}

.TAN-object-image{
    display:block;
    margin:auto;
}

.TAN-object p{
    margin:0px;
}

.TAN-object h2{
   margin:0px; 
   font-size:1.2em;
}

.TAN-object-info-bar{
    display:block;
}

.TAN-object-info-bar img{
    height:20px;
    width:20px;
}

.TAN-object-user{
    color: #595959;
    font-weight: bold;
    text-decoration: none;
}

.TAN-tintan{
    color:#000;
}
