Options +FollowSymlinks
RewriteEngine on
ErrorDocument 404 /error404.php
RewriteRule ^(.*/)?\\.svn/ - [F,L]

##login stuff
RewriteRule ^login/$ lib/controllers/login_register.php [NC]
RewriteRule ^logout/$ lib/controllers/login_register.php?logout=1 [NC]
RewriteRule ^registration_confirm/([^/]+)/([^/]+)/$ lib/controllers/login_register.php?user_id=$1&token=$2 [NC]
RewriteRule ^forgot_mail/ lib/controllers/forgot_mail.php [NC]
RewriteRule ^forgot_confirm/([^/]+)/([^/]+)/$ lib/controllers/forgot_confirm.php?1&user_id=$1&token=$2 [NC]

##news advert widget
RewriteRule ^news_widget lib/controllers/news_widget.php [NC]

##submit
RewriteRule ^submit/([^/]+)/$ lib/controllers/submit.php?location=$1 [NC]
##edit
RewriteRule ^esubmit/([^/]+)/([^/]+)/$ lib/controllers/submit.php?location=$1&edit=$2 [NC]

##thumb
RewriteRule ^thumb/([^/]+)/([^/]+)/ lib/controllers/thumb.php?id=$1&x=$2 [NC]
RewriteRule ^tagthumbs/([^/]+)/ lib/controllers/tagthumbs.php?tags=$1 [NC]



RewriteRule ^link/([^/]+)/([^/]+)/ ./index.php?function=0&type=$1&page=$2 [NC]
RewriteRule ^blog/([^/]+)/([^/]+)/ ./index.php?function=4&type=$1&page=$2 [NC]
RewriteRule ^picture/([^/]+)/([^/]+)/ ./index.php?function=2&type=$1&page=$2 [NC]

RewriteRule ^viewlink/([^/]+) ./viewpage.php?kindofpage=link&id=$1 [NC]
RewriteRule ^viewblog/([^/]+) ./viewpage.php?kindofpage=blog&id=$1 [NC]
RewriteRule ^viewpic/([^/]+) ./viewpage.php?kindofpage=picture&id=$1 [NC]
RewriteRule ^viewpicture/([^/]+) ./viewpage.php?kindofpage=picture&id=$1 [NC]

RewriteRule ^edit_comment/([^/]+)/ ./lib/controllers/edit_comment.php?comment_id=$1 [NC]
RewriteRule ^avatar/$ ./lib/controllers/avatar.php [NC]

RewriteRule ^user/([^/]+)/([^/]+)/ ./user_comments.php?username=$1&page=$2 [NC]

RewriteRule ^chat/?$ /chat.php [NC]
RewriteRule ^shop/ /shop.php [NC]

RewriteRule ^tagcloud/ ./index.php?function=13 [NC]

RewriteRule ^filteron/$ ./code/filter.php [NC]
RewriteRule ^filteroff/$ ./code/filter.php [NC]

RewriteRule ^comment$ ./code/docomment.php [NC]

RewriteRule ^doplus/([^/]+)/([^/]+) ./code/doplusminus.php?type=$1&id=$2&plus=1 [NC]
RewriteRule ^dominus/([^/]+)/([^/]+) ./code/doplusminus.php?type=$1&id=$2&plus=-1 [NC]

RewriteRule ^tdoplus/([^/]+)/([^/]+) ./code/doplusminus.php?type=$1&id=$2&plus=1&thumb=1 [NC]
RewriteRule ^tdominus/([^/]+)/([^/]+) ./code/doplusminus.php?type=$1&id=$2&plus=-1&thumb=1 [NC]

RewriteRule ^random/([^/]+) ./code/random.php?type=$1 [NC]
