[% edname = editor.name.defined() ? editor.name : 'editor' %]

<textarea
    id="[% edname %]"
    name="[% edname %]"
    rows="10"
    cols="20"
    class="editor"
>[% editor.value | html %]</textarea>
