 <!DOCTYPE html>
<html>
    <head>
        [%- IF page_title.defined -%]
            [%- IF !index.defined && object.defined && object.nsfw -%]
                [%- nsfw_title = " - NSFW" -%]
            [%- END -%]
            [%- page_title = "${page_title}${nsfw_title} - This Aint News" | html -%]
        [%- ELSE -%]
            [%- page_title = 'This Aint News' -%]
        [% END %]
        <title>[% page_title %]</title>
        <meta 
            name="description" 
            content="[% page_meta_description | html %]" 
        />
        <meta 
            name="keywords" 
            content="[% page_keywords | html %]"
        />
        <meta charset="utf-8" />
        <meta name="HandheldFriendly" content="True">
        <meta http-equiv="cleartype" content="on">
        [% IF rel_extra.defined %]
            [% rel_extra %]
        [% END %]
        [%- PROCESS lib/css_includes.tt -%]
        <link rel="shortcut icon" href="/static/favicon.ico" />
        <link 
            rel="search"
            type="application/opensearchdescription+xml"
            title="TAN Search" 
            href="/static/opensearchplugin.xml"
        />
        [%- IF can_rss %]
            [%- USE rss_url = url("/${c.req.path}", c.req.params) -%]
            [%- rss_url = rss_url(rss=1) -%]
            <link 
                rel="alternate" 
                type="application/rss+xml" 
                title="RSS" 
                href="[% rss_url %]" 
            />
        [%- END %]
    </head>
    <body>
        [%- PROCESS lib/js_includes.tt %]
        <div class="TAN-header">
            [% PROCESS lib/top_menu.tt %]
            [% PROCESS lib/menu.tt %]
        </div>
        <div class="TAN-main">
            [%- message = c.flash.message -%]
            [% IF message %]
                <h1>[% message %]</h1>
            [% END %]
            [% content %]
        </div>
        <div id="TAN-bottom"><a href="/mobile/set_mobile/0">Desktop Site</a>
        <span class="right"><a href="#">Up</a></span>
        </div>
    </body>
</html>
