<html>
    <br />
    Your username is: [% user.username | html %]
    <br />
    <br />
    [%- url = c.uri_for('/login/forgot/step2', user.id, token) -%]
    Please click <a href="[% url %]">here</a> to reset your password if you need to.
    <br/>
    or copy and paste [% url %] into your browsers address bar
    <br />
</html>
