.TAN-inside > li{
    float:left;
    width:230px;
    height:250px;
    margin:0px 0px 2px 2px;
}

.TAN-news{
    padding:10px 1px;
    overflow:hidden;
}

.TAN-news > h2{
    font-size:1.2em;
    margin:0 0 2px;
}

.TAN-news > div{
    padding-top:10px;
    overflow:hidden;
    width:100%;
    clear:both;
}

.TAN-news > div > a{
    display:block;
    overflow:hidden;
    height:160px;
    width:160px;
    margin-left:10px;
}

.TAN-news > div > a > img{
    display:block;
    margin:auto;
}

.TAN-news > ul{
    padding:0px;
}

.TAN-news > ul > li{
    list-style:none;
    float:left;
    border-right:1px solid #BEBEBE;
    padding:0px 5px;
    height:20px;
}

