<html>
    <h1>Welcome to This Aint News</h1>
    <br />
    <br />
    You're just one step away from using the site:
    <br />
    <br />
    [%- url = c.uri_for('/login/registration/confirm', user_id, token) %]
    Please click <a href="[% url %]">here</a>
    <br/>
    or copy and paste [% url %] into your browsers address bar
    <br />
    <br />
    Thanks for registering<br />
</html>
