[%-
PROCESS 'lib/xhtml_head.tt';
IF (!overlay.defined);
    PROCESS 'lib/top.tt';
    IF (messages);
        FOREACH message = messages -%]
            <span class='message'>[%- message -%]</span>
        [% END;
    END;
END -%]