<div id="sidebar">
    [%- 
    PROCESS 'lib/menu.tt';
    PROCESS 'lib/order_by.tt';
    IF !error_404.defined;
        PROCESS 'lib/recent_comments.tt';
    END;
    PROCESS 'lib/ads/left.tt'
    -%]
</div>
