body {
    background: #888888 url('/static/images/bg.png') repeat-x 0 0;
	height:100%;
	font-family:Arial, sans-serif;
    font-weight:normal;
    color: #535353;
    cursor:default;
}

img {
    border:0px;
}

#main {
	margin-top:0px;
	height:100%;
}

#top {
	height:80px;
	padding:5px;
    min-width:850px;
    margin-left:175px;
    padding-bottom:0px;
}

#top .logoimg{
    height:75px;
    width:400px;
    position:absolute;
    top:5px;
    left:5px;
    background-image: url('/static/images/logo.png');
    background-repeat: no-repeat;
    text-indent:-1000px;
    margin:0px;
}

#top .logo{
	display:block;
	height:100%;
	width:100%;
}

#top .top_link{
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    color:#4582BE;
}

#top .top_link:hover {
    text-decoration:underline;
}

#sidebar{
    position:absolute;
    left:10px;
    width:170px;
    top:93px;
    float:left;
    background: #555555 url('/static/images/bg2.png') repeat-x 0 0;
    padding:3px;
    color:#fff;
}

.profile_comment{
    margin-right:125px;
}

.comment_wrapper{
    padding:5px;
    color:#535353 !important;
}

.recent_comment{
    display:block;
    font-size:0.8em;
    margin-top:10px;
    color:#FFFFFF;
    padding:5px;
}

.recent_comment:hover {
    display:block;
    font-size:0.8em;
    margin-top:10px;
    color:#808080;
}

#sort_by{
    border:0px;

    margin:2px;
    margin-right:auto;
//    margin-left:auto;
}

#middle {
	padding-bottom:15px;
    background: #555555 url('/static/images/bg2.png') repeat-x 0 0;
    margin-left:180px;
	height:100%;
	padding:5px;
    margin-bottom:32px;
	min-width:850px;
/* This is here for ie */
//  overflow:visible;
}

#thumbtags{
    overflow:visible;
    margin-left:auto;
    margin-right:auto;
}

#bottom {
	padding:5px;
    min-width:850px;
    padding-bottom:15px;
	color:#fff;
	font-size:13px;
}

.news {
    min-height:125px;
    background-color: #fff;
	color:#222222;
	padding:7px;
}


.news .a {
	font-size:15px;
}

.news .title{
	font-size:0.9em;
	color:#4468A3;
//	text-decoration:underline;
}

.news .title:hover {
    color:#000000;
}

.news .category{
	color:#3C9C33;
	font-size:13px;
    margin-left:10px;
}

.news .comments{
	font-size:13px;
	text-decoration:none;
	color:#4582BE;
}

.news .comments:hover {
	text-decoration:underline;
}



.news .newsImg{
	height:100px;
  	width:100px;
	border:0px;
	float:left;
	padding-right:15px;
    background-repeat: no-repeat;
    background-position: center center;
}

.news h2{
    font-size:25px;
    margin:0px;
    font-weight: normal;
    display: inline;
}

.plusminus {
    float:right;
    height:100px;
    width:50px;
}

.plus {
	height:45px;
	width:50px;
	border: 1px solid #808080;
	color:#4582BE;
	text-align:center;
	font-size:25px;
	background-color:#fff;
	font-weight:bold;
}

.addPlus{
	height:17px;
	width:50px;
	background-color:#4582BE;
	color:#ffffff;
	font-size:13px;
	display:block;
	text-decoration:none;
	font-size:10px !important;
}

.pselected{
    background-color:#5A9E4A;
}

.mainselected{
    border:0px;
    color:#000000;
}

#menuholder{
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    display: block;
}

.subselected{
    color:#000000;
}

.minus {
	height:45px;
	width:50px;
    margin-top:10px;
	border: 1px solid #808080;
	color:#CC6A00;
	text-align:center;
	font-size:25px;
	background-color:#fff;
	font-weight:bold;
}

.addMinus{
	height:17px;
	width:50px;
	background:#CC6A00;
	color:#ffffff;
	font-size:13px;
	display:block;
	text-decoration:none;
	font-size:10px !important;
}

.mselected{
    background-color:#000000;   
}

#thumbs{
    height:19px;
    text-align:center;
    padding-bottom:5px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    overflow:hidden;
    background-color:#f7faff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#thumbs a{
    text-decoration:none;
    cursor:pointer;
}

#thumbs .imgDiv {
/*    margin-left:5px;
    margin-right:5px;*/
    margin-top:4px;
    float:left;
    width:150px;
    height:130px;
}

#thumbs .Imgnormal{
    margin-top:20px;
    max-width:100px;
/*  Stupid fucking internet explorer cant understand max-width,
    so am using the // trick to set a fixed width */
//  width:100px;
    height:80px;
    border:0px;
}

#thumbs .Imgover{
    margin:0px;
    max-width:150px;
/*  Stupid fucking internet explorer cant understand max-width,
    so am using the // trick to set a fixed width */
//  width:150px;
    height:130px;
}

#thumbs #seeAllThumbs{
    display:block;
    text-align:center;
    height:24px;
    background-color:#505050;
    color:#FFFFFF;
    font-size:1.2em;
}

#thumbs #seeAllThumbs:hover {
    background-color:#4582BE;
}

#picHolder{
    margin:auto;
    border:1px solid #C5D0D9;
    background:#F7FAFF;
    padding:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-right:125px;
}

a{
    text-decoration:none;
    color:#396A9C;
}

.Pictitle{
    text-decoration:underline;
}

#picHolder .thumbPlace{
    margin:15px;
    width:400px;
    height:300px;
    text-align:center;
}

#picHolder .picThumb{
    max-height:300px;
    max-width:400px;
    border:none;
}



.bold {
	font-weight: bold;
}

.italics {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.strikethrough {
	text-decoration: line-through;
}

#link {
    margin-left:35px;
    padding-top:20px;
}

.textInput{
    color: #781351;
    background: #D5D6DC;
    border: 1px solid #781351;
}

#picture {
    margin-left:35px;
    padding-top:20px;
}

.thumbLine{
    margin-left:auto;
    margin-right:125px;
    margin-bottom:5px;
    height:225px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color: #F7FAFF;
}

.thumbCell{
    float:left;
    height:200px;
    width:33%;
}

.thumbPic{
    height:160px;
    max-width:160px;
    margin:2px;
    background-position: center center;
    background-repeat:no-repeat;
}

.pageNumber {
    float:left;
    text-align:center;
    margin:2px;
    padding:5px;
    height:20px;
    min-width:20px;
    color:#3A44FF;
    background-color:#EFF8FC;
    display:block;
    border:1px solid #3A44FF;
}

.thisPage{
    background-color:#3A44FF;
    color:#EFF8FC;
}

.thumbHolder{
    height:120px;
    width:160px;
    text-align:center;
    float:left;
}

.profLink{
	background-color:#646464;
	text-decoration:none;
	color:#ffffff;
	padding:2px;
	border: 1px solid #000000;
}

.profLink:hover {
	background-color:#4582BE;
}

.tagholder{
    background-color:#F4F3F3;
    border:1px solid #E0DFDF;
    width:720px;
    padding:10px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.tag{
    color:#000000;
    text-decoration:none;
    margin-left:10px;
    padding:2px;
}

.tag:hover {
    color:#ffffff;
    background-color:#4582BE;
}

.sortby{
    border: 1px solid #808080;
    background: #EEEEEE;
    padding:1px;
}

.sortby:hover{
	background-color:#4582BE;
    color:#FFFFFF;
}
.sselected {
    background: #DDDDDD;
    color:#000000;
}


ul#mainmenu{
    margin-bottom: 15px;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    width: 148px;
}

ul#mainmenu li span{
    padding: 1px 0 1px 15px;
    color: #000;
    font-weight: bold;
    display: block;
    cursor: pointer;
    height: 39px;
    background-repeat: no-repeat;
    background-position: center center;
}

ul#mainmenu li ul{
    list-style: none;
    width:105px;
}

ul#mainmenu a{
    color:#ffffff;
}

ul#mainmenu a:hover {
    color:#FF8000;
}

ul#mainmenu li ul li{
    list-style: none;
}

.hidden{
    display: none;
}


.tip { 
	width:250px;
	overflow:hidden;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:3px;
	border:1px solid #000;
	background-color: #FFF;
	background-image: url(/static/images/tooltip.png);
	background-repeat: repeat-x;
}  
.tip-title      { color:#000; border-bottom:1px solid #000;}  
.tip-text       { color:#222222}
.recent_comments{
    z-index:9999;
}

.quoted_username{
    font-weight:bold;
}

.quote_holder{
	padding:5px;
    background-color:#e1ebf2;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border: #bebebe 1px solid;
}

.quote{
	padding-left:15px;
    font-style:italic;
}

/* Menu stuff */

#navmenu_holder{
    width:168px;
    margin-top:2px;
}

#navmenu_holder .tab{
    margin-top:2px;
    background:#323232 url(/static/images/sidebar_tab.jpg) repeat-x scroll 0 0;
    padding:1px 2px 0px;
    border:1px solid #323232;
    font-family: sans-serif;
    height:19px;
    cursor:pointer;
    color:#fff;
}

#navmenu_holder .tab_selected{
    margin-top:0px !important;
    background:#323232 url(/static/images/sidebar_tab_selected.jpg) repeat-x scroll 0 0;
    height:21px;
    padding:2px 4px 0px;
    border:1px solid #2f2f2f;
    border-bottom:1px solid #323232;
}

#navmenu_holder #navmenu_contents{
    background:#2f2f2f url(/static/images/sidebar_contents.jpg) repeat-x scroll 0 0;
    border-top:0px;
    border:1px solid #323232;
    height:100px;
}

#navmenu_holder ul{
    margin:0px;
    padding-top:5px;
    padding-left:10px;
    cursor:default;
    font-family:arial;
}

#navmenu_holder .navmenu_option{
    list-style-type:none;
    margin-right:10px;
    margin-bottom:3px;
    cursor:default;
    height:19px;
    color:#fff;
}

#navmenu_holder .navmenu_option_selected{
	background:#d9d7d6 url(/static/images/sidebar_contents_selected.jpg) repeat-x scroll 0 0;
    color:#000;
}

#navmenu_holder a{
    color:#fff;
    display:block;
    padding-left:5px;
}

#navmenu_holder a:hover{
    background:#d9d7d6 url(/static/images/sidebar_contents_selected.jpg) repeat-x scroll 0 0;
    color:#000;
}

#navmenu_holder #link_menu, #navmenu_holder #blog_menu, #navmenu_holder #picture_menu, #navmenu_holder #all_menu{
    display:none;
    position:relative;
}

#loginform, #regform{
    margin-left:125px;
}

.message{
    color:#fff;
    font-size:1.5em;
}

.text_input{
    border:1px solid #606060;
}

.text_input:focus{
    border:1px solid #ff0000;
}

.text_input:hover{
    background-color:#d6d6d6;
}

.tag_thumb_img{
	height:50px;
	width:50px;
	cursor:pointer;
	vertical-align:middle;
	margin:5px;
}

#left_ad{
    height:600px;
    width:160px;
    margin-left:5px;
}

#bottom_ad{
    width:728px;
}

#right_ad{
    float:right;
    height:600px;
}

.refresh_thumbs{
    float:right;
}

fieldset ul, fieldset li{
    border:0px;
    margin:0px;
    padding:0px;
    list-style:none;
}

fieldset{
    border:0px;
}

fieldset li{
    clear:both;
	list-style:none;
	padding-bottom:10px;
}

fieldset label{
    float:left;
    font-weight:bold;
}

.login_label{
    width:180px;
}

.full_width{
    width:100%;
}

.object_type{
    color:#326f24;
}

#page_no_holder{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
    width:700px;
}

.index_thumb{
    position:absolute;
    left:35%;
}

.image_div{
    position:relative;
    width:200px;
    height:200px;
    float:left;
}

#inside{
    list-style-type: none;
    margin:0px;
    padding:0px;
    margin-right:125px; 
}

.clear{
    clear:both;
}

.alternate{
    background-color:#ddd;
}

.please_login{
	font-size:1.2em !important;
}

.please_login a{
	font-size:inherit;
}

