.TAN-news{
    max-height:2000px;
}

.TAN-news > div{
    padding:0px;
    width:640px;
    margin:auto;
}

.TAN-news > div > a{
    display:block;
    width:60px;
    height:50px;
    border:1px solid;
    font-size:2em;
    text-align:center;
    float:left;
    margin:1px;
    padding-top:10px;
    color:#dddddd;
}

.TAN-news > div > a:hover{
    color:#555555;
}

.selected{
    color:#222222 !important;
}

.selected:hover{
    color:#222222 !important;
}
