.TAN-inside > li{
    background-color:#fff;
}

.TAN-inside > li > h1{
    padding:5px 2px;
    margin:0px;
    font-size:1em;
}

.TAN-inside > li ul{
    list-style:none;
}

.TAN-inside > li ul li{
    padding-bottom:2px;
}

.TAN-inside > li > h2{
    padding:0px;
    margin:0px;
    font-size:1em;
}

