.TAN-inside{
    background-color:#fff;
}

.TAN-inside > li > h1{
    padding:0px;
    margin:0px;
}

.TAN-id-card{
    height:120px;
    padding:5px 0px 0px 0px;
}

.TAN-id-card > li{
    float:left;
}

.TAN-id-card:first-child{
    height:150px;
}

.TAN-id-card li{
    list-style:none;
}

.TAN-id-card ul{
    padding:0px;
    margin:0px;
}

.TAN-news-avatar{
    height:100px;
    width:100px;
}

.TAN-profile-avatar{
    float:left;
    background-color:#fff;
    margin:0 0 2px 2px;
}

.TAN-profile-user-admin{
    background-color:#ff0000;
    float:right !important;
    margin-right:25px;
}

.TAN-profile-user-admin-form > h2{
    margin:0px;
}

.TAN-profile-user-admin-form > ul > li:first-child{
    border-right: #000 1px solid;
}

.TAN-profile-user-admin-form > ul > li{
    float:left;
    padding:5px;
}
