.TAN-inside{
    background-color:#fff;
}

.TAN-inside > li > h1{
    padding:0px;
    margin:0px;
}

.TAN-id-card{
    height:120px;
    padding:5px 0px 0px 0px;
}

.TAN-id-card > li{
    float:left;
}

.TAN-id-card:first-child{
    height:150px;
}

.TAN-id-card li{
    list-style:none;
}

.TAN-id-card ul{
    padding:0px;
    margin:0px;
}

.TAN-news-avatar{
    height:100px;
    width:100px;
}

.TAN-profile-avatar{
    float:left;
    background-color:#fff;
    margin:0 0 2px 2px;
}

.TAN-profile-user-admin{
    background-color:#ff0000;
    float:right !important;
    margin-right:25px;
    padding:5px;
}

.TAN-profile-user-admin-form > h2{
    margin:0px;
}

.TAN-profile-user-admin-form ul{
    margin: 0;
    padding: 0;
}

.TAN-profile-user-admin-form ul li{
    list-style: none outside none;
}

.TAN-profile-user-admin-form > ul > li > a, .TAN-profile-user-admin-form > ul > li > a:visited{
    color:#535353;
}

.TAN-profile-user-admin-form > ul > li > a:hover{
    color:#000;
    text-decoration:underline;
}
