.clear{
    clear:both;
}

.left{
    float:left !important;
}

.right{
    float:right !important;
}

.centre{
    text-align:center;
    margin:auto;
}

.avatar{
    height:32px;
    width:32px;
    float:left;
    margin-right:5px;
    margin-top:5px;
    padding:0px;
    background-position:center center;
    background-repeat:no-repeat;
}

.user{
	color:#595959;
	font-size:1.3em;
	font-weight:bold;
}

.user:hover {
	text-decoration:underline;
}

.no_list{
    list-style:none;
    padding:0px;
}

#alert{
    padding: 5px;
    font-size:2em;
    right:0px;
    top:0px;
    position:fixed;
    background-color:#000;
}

.menu_top_right{
    float:right;
    margin-top:5px;
    margin-right:5px;
    text-align:right;
    width:360px;
}

#inside{
    list-style-type: none;
    margin:0px;
    padding:0px;
    margin-right:125px; 
    overflow: hidden;
}

/* object */

.news {
    min-height:125px;
    background-color: #fff;
	color:#222222;
	padding:7px;
}

.alternate{
    background-color:#DDDDDD !important;
}

.news .p {
	font-size:0.8em;
	color:#222222;
	margin-right:65px;
    margin-left:115px;
}

/* footer bar */

#footer{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:20px;
    padding:2px;
    background-color:#333;
}

#jump{
    float:right;
}

/* form stuff */

input[type=text], input[type=password], textarea{
    border:1px solid #808080;
    background-color:#d6d6d6;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus{
    border:1px solid #0000ff;
}

input[type=text]:hover, input[type=password]:hover, textarea:hover{
    border:1px solid #404040;
    background-color:#b6b6b6;
}

fieldset ul, fieldset li{
    border:0px;
    margin:0px;
    padding:0px;
    list-style:none;
}

fieldset li{
    clear:both;
	list-style:none;
	padding-bottom:10px;
}

fieldset label{
    float:left;
    font-weight:bold;
}

fieldset{
    border:0px;
    padding:0px;
}
