body{
    color:#535353;
    cursor:default;
    font-family:Arial,sans-serif;
    font-weight:normal;
    height:100%;
    margin:0px;
    min-width:1000px;
}

a{
    text-decoration:none;
    color:#4582BE;
}

/* form stuff */

input[type=text], input[type=password], textarea{
    border:1px solid #808080;
    background-color:#d6d6d6;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus{
    border:1px solid #0000ff;
}

input[type=text]:hover, input[type=password]:hover, textarea:hover{
    border:1px solid #404040;
    background-color:#b6b6b6;
}

fieldset, img{
    border:0px;
}

fieldset{
    padding:2px;
}

.left{
    float:left;
}

.right{
    float:right;
}

.clear{
    clear:both;
}

.clear_left{
    clear:left;
}

.clear_right{
    clear:right;
}

.hidden{
    display:none;
}

.TAN-rss-icon{
    width:14px;
    height:14px;
}

.TAN-header, .TAN-main{
    padding:5px;
    overflow:hidden;
}

.TAN-header{
    background-image:url("/static/themes/classic/images/top.jpg?r=2");
    background-color:#444;
    background-repeat:no-repeat;
    background-position:center;
}

.TAN-main{
    background-color:#666;
}

.TAN-logo{
    background-image:url("/static/images/logo.png");
    height:75px;
    width:400px;
    text-indent:-1000px;
    float:left;
    margin:0px;
}

.TAN-logo > a{
    display:block;
    height:100%;
}

.TAN-menu-top{
    text-align:right;
    width:400px;
}

.TAN-menu-top > form, .TAN-menu-top > p{
    margin:0px;
}

.TAN-menu-top > p > a{
    font-size:0.8em;
    font-weight:bold;
}

.TAN-menu-top-search{
    padding-top:3px;
}

.TAN-menu-top-search > fieldset > label{
    color:#aaa;
    font-size:0.8em;
}

/* menu */

.TAN-menu-ad-holder{
    overflow:hidden;
    position:relative;
    width:100%;
    clear:both;
    height:130px;
}

.TAN-menu{
    clear:both;
    position:absolute;
    bottom:0px;
}

.TAN-menu ul{
    clear:left;
    padding:0px;
    margin:0px;
    font-size:1em;
    display:none;
}

.TAN-menu-tab-holder{
    display:block !important;
}

.TAN-menu > ul > li{
    float:left;
    list-style:none;
    border-right:1px solid #BEBEBE;
}

.TAN-menu > ul > li > a{
    background-color:#EDEDED;
    width:100%;
    margin:0px;
    padding:0px 5px;
}

.TAN-menu > ul > li > a:hover{
    color:#fff !important;
}

.TAN-menu-last{
    border:medium none !important;
}

.TAN-menu-tab{
    background-color:transparent !important;
    padding:0px 5px;
}

.TAN-order-by{
    margin-bottom:10px;
}

.TAN-order-by select{
    float:right;
}
/* all */

.TAN-type-all, .TAN-menu-all > li > a{
    color:#777;
}

.TAN-type-all:hover, .TAN-menu-tab-all-selected, .TAN-menu-all > li > a:hover{
    color:#fff !important;
    background-color:#777 !important;
}

/* link */

.TAN-type-link, .TAN-menu-link > li > a{
    color:#066ec9;
}

.TAN-type-link:hover, .TAN-menu-tab-link-selected, .TAN-menu-link > li > a:hover{
    color:#fff !important;
    background-color:#066ec9 !important;
}

/* blog */

.TAN-type-blog, .TAN-menu-blog > li > a{
    color:#008000;
}

.TAN-type-blog:hover, .TAN-menu-tab-blog-selected, .TAN-menu-blog > li > a:hover{
    color:#fff !important;
    background-color:#008000 !important;
}

/* picture */

.TAN-type-picture, .TAN-menu-picture > li > a{
    color:#d61d00;
}

.TAN-type-picture:hover, .TAN-menu-tab-picture-selected, .TAN-menu-picture > li > a:hover{
    color:#fff !important;
    background-color:#d61d00 !important;
}

/* poll */

.TAN-type-poll, .TAN-menu-poll > li > a{
    color:#002366;
}

.TAN-type-poll:hover, .TAN-menu-tab-poll-selected, .TAN-menu-poll > li > a:hover{
    color:#fff !important;
    background-color:#002366 !important;
}

/* video */

.TAN-type-video, .TAN-menu-video > li > a{
    color:#800000;
}

.TAN-type-video:hover, .TAN-menu-tab-video-selected, .TAN-menu-video > li > a:hover{
    color:#fff !important;
    background-color:#800000 !important;
}

/* forum */

.TAN-type-forum, .TAN-menu-forum > li > a{
    color:#300000;
}

.TAN-type-forum:hover, .TAN-menu-tab-forum-selected, .TAN-menu-forum > li > a:hover{
    color:#fff !important;
    background-color:#300000 !important;
}

/* ads */

.TAN-top-ad{   	 	 
    height:90px;  	 	 
    width:728px;  	 	 
    float:right;  	 	 
}

.TAN-right1-ad{
    height:600px;
    width:160px;
    margin-bottom:45px;
}

.TAN-right2-ad{
    height:600px;
    width:160px;
}

.TAN-left-ad{
    height:600px;
    width:160px;
}

.TAN-bottom-ad{
    margin:15px auto 30px auto;
    clear:both;
    height:90px;
    width:728px;
}

/* main */

.TAN-main > ul{
    margin:0px;
    padding:0px;
}

.TAN-main > ul > li{
    list-style:none;
}

/* inside */

.TAN-inside{
    margin-left:170px !important;
}

/* bottom */

.TAN-view-mobile{
    clear:both;
    margin-left:170px;
}
.TAN-view-mobile > a{
    color:#fff;
}

#TAN-bottom{
    margin-bottom:24px;
}

.TAN-footer{
    background-color:#333;
    bottom:0;
    height:20px;
    left:0;
    padding:2px;
    position:fixed;
    right:0;
}

.TAN-footer > a{
    color:#396A9C;
}

.TAN-whos-online{
    height:20px;
}

.TAN-whos-online img{
    width:20px;
    height:20px;
}

/* news */

.TAN-news{
    min-height:110px;
    max-height:300px;
    padding:10px 5px;
    background-color:#fff;
    overflow:hidden;
}

.TAN-news > ul > li{
    list-style:none;
}

.TAN-news > a{
    text-decoration:none;
}

.TAN-news-alternate{
    background-color:#DDD !important;
}

.TAN-news-comment{
    color:#4582BE;
}

.TAN-news-comment-image{
    height:15px;
    width: 15px;
}

.TAN-news-image{
    width:100px;
    height:100px;
    overflow:hidden;
}

.TAN-news-image > a > img{
    display:block;
    margin:auto;
}

.TAN-news > p, .TAN-news > h2{
    margin:0px;
    font-weight:normal;
    margin:5px 65px 5px 105px;
}

.TAN-news > p{
    font-size:0.75em;
    min-height:30px;
}

.TAN-news-avatar{
    width:32px;
    height:32px;
    margin-right:5px;
    margin-left:5px;
}

.TAN-news-user{
    color:#595959;
    font-weight:bold;
}

.TAN-news-user:hover{
    text-decoration:underline;
}

/* plus minus */

.TAN-plusminus{
    text-align:center;
    font-weight:bold;
    font-size:1.2em;
    width:60px;
}

.TAN-plusminus a{
    outline: none;
    display:block;
}

.TAN-plus{
    color:#009900;
}

.TAN-minus{
    color:#dd0000;
}

.TAN-plus-selected, .TAN-minus-selected{
    font-size:1.3em;
    text-shadow: 0.1em 0.1em 0.2em #777777;
}

/* pagination */

.TAN-news-pagination{
    width:700px;
    margin:5px 0px 5px 170px;
}

.TAN-news-page-number{
    background-color:#EFF8FC;
    border:1px solid #3A44FF;
    color:#3A44FF;
    display:block;
    float:left;
    height:20px;
    margin:2px;
    min-width:20px;
    padding:5px;
    text-align:center;
    text-decoration:none;
}

.TAN-news-page-number-selected{
    background-color:#3A44FF;
    color:#EFF8FC;
}

.TAN-menu-top-search > fieldset{
    margin-right:0px;
    padding-right:0px;
}

.button {
    width: 32%;
    display:block;
    float:left;
    text-align:center;
    background-color:#ddd;
    margin:3px;
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
}
.button:hover {
    border-bottom:1px solid #888;
    border-right:1px solid #888;
}

.button a {
    display:block;
    padding:3px;
}

/* recent comments */

.left-menu {
    padding:2px !important;
    width:161px;
    overflow:hidden;
    background-color:#ccc;
    margin:0px;
    float:left;
}

.left-menu #recent_comments {
    min-height:600px;
}

.left-menu #recent_comments a {
    display:block;
    font-size: 0.8em;
}
.left-menu #recent_comments a.indent {
    margin-left:10px;
    color: #333;
}
.left-menu #recent_comments a.indent:hover {
    background-color: #333;
    color: #fff;
}

.floating-tip {
    background:#fff;
	width:300px;
	padding:5px;
	border:1px solid #999;
    word-wrap:break-word;
    overflow:hidden;
}
