.tags{
    font-style: italic;
}

.hr {
    border-top: 1px solid #C5D0D9;
    margin: 0px 9px 0px 9px;
}

.view_link{
    float:right;
    font-size:1.5em;
}

/* comment */

.comment_holder{
    margin-left:5px;
    margin-top:10px;
    min-height:200px;
}
.comment_infobar{
    font-size:.8em;
    float:left;
}

.comment_avatar{
    height:128px;
    width:128px;
}

.comment_inner{
    margin-left:132px;
}

