.tags{
    font-style: italic;
    margin-left:115px;
    float:left;
}

.hr {
    border-top: 1px solid #C5D0D9;
}

.view_link{
    float:right;
    font-size:1.5em;
}

/* comment */

.comment_holder{
    margin-left:5px;
    padding-top:10px;
    min-height:200px;
}
.comment_left{
    font-size:.8em;
    float:left;
    padding-right: 3px;
    width:120px;
}

.comment_tools{
    font-size:1.3em;
}
.comment_avatar{
    height:100px;
    width:100px;
    float:none;
}

.comment_inner{
    margin-left:135px;
    margin-top:20px;
}

.comment_inner p{
    margin:0px;
}
