<ul class="TAN-inside">
    <li>
        <iframe width="100%" height="400" scrolling=no style="border:0" src="https://widget.mibbit.com/?server=irc.mibbit.com%3A%2B6697&chatOutputShowTimes=true&autoConnect=true&channel=%23thisaintnews&settings=8a8a5ac18a22e7eecd04026233c3df93&nick=[% IF c.user; c.user.username; ELSE %]n00b[% END %]"></iframe>
    </li>
</ul>
