[% css_includes.push('Donate') %]

<ul class="TAN-inside">
    <li class="TAN-news">
        <div>
            [% FOREACH i IN [ 0 .. 99 ] %]
                [% IF used_numbers.$i %]
                    <div class="number selected">[% i %]</div>
                [% ELSE %]
                    <a href="buy/[% i %]/" class="number">[% i %]</a>
                [% END %]
            [% END %]
        </div>
    </li>
</ul>
