[% css_includes.push('Donate') %]

<ul class="TAN-inside">
    <li class="TAN-news">
        <div>
            [% FOREACH i IN [ 1 .. 100 ] %]
                <a href="[% button.as_string _ '&item_name=Number%20' _ i _ '&item_number=' _ i | html %]" [% IF loop.count == 1 %]class="selected"[% END %]>[% i %]</a>
            [% END %]
        </div>
    </li>
</ul>
