<ul class="TAN-inside">
    [% IF index;
        PROCESS 'lib/index.tt' %]
        <li>
            [% PROCESS 'lib/index/pagination.tt' pager=index.pager %]
        </li>
    [% ELSE %]
        <li class="TAN-news">
            <h1>Nothing found</h1>
        </li>
    [% END %]

</ul>
