[% 
js_includes.push('submit');
css_includes.push('submit');

flashed_object = c.flash.object;
IF (flashed_object);
    object = flashed_object;
END;
-%]
<ul class="TAN-inside">
    <li class="TAN-news">[%- PROCESS "submit/${location}.tt" -%]</li>
</ul>
