[%- css_includes.push('View') -%]
[%- js_includes.push('View/Comment') -%]

[% IF type == 'poll' %]
    [% voted = (c.user_exists) ? object.poll.voted( c.user.id ) : 0 %]
    [% ends = object.poll.ends %]

    [% IF !voted && ends %]
        [% js_includes.push('View/Poll') %]
    [% END %]
[% END %]

<ul class="TAN-inside">
    <li class="TAN-news">
        [% PROCESS "view/${type}.tt" %]
    </li>
    <li class="TAN-news" id="comments">
        [% PROCESS view/comments.tt %]
    </li>
</ul>
