<li class="TAN-news">
    <h2>
        Crop avatar
    </h2>
    <p>
        Please select the area you wish to have as your avatar
    </p>
    <img src="[% c.user.avatar('pre_crop') %]?t=[% RAWPERL %]$output .= time;[% END %]" id="cropper"/>

    <form method="post" action="/settings/avatar/crop" id="crop_form">
        <fieldset>
            <input type="hidden" name="cords" id="cords" />
            <input type="submit" value="Crop"/>
        </fieldset>
    </form>        
</li>
