
/* recent comments */

.TAN-recent-comments-page{
    padding:2px !important;
    overflow:hidden;
}

.TAN-recent-comments-page > li > ul{
    padding:0px 0px 10px 10px;
}

.TAN-recent-comments-page > li > ul > li{
    list-style:none;
    margin:0px;
}

.TAN-recent-comments-page > li > ul > li > a{
    color:#333;
    padding:2px 0px;
}
