img{
    max-width:100%;
    height:auto;
}

#comment{
    width:100%;
    margin-right:5px;
}

/* quote stuff */

.quoted_username{
}

.quote_holder{
	padding:1px;
    background-color:#e1ebf2;
    border: #bebebe 1px solid;
}

.quote{
	padding-left:2px;
    font-style:italic;
}

.TAN-video{
    max-width:100%;
    height:auto;
}

/* poll */

.TAN-poll{
    margin:0px;
    padding:0px;
}

.TAN-poll li{
    list-style:none;
    width:100%;
    position:relative;
    padding-bottom:10px;
    border-bottom:1px solid #EAEAEA;
}

.TAN-poll label{
    cursor:pointer;
    display:block;
}

.TAN-poll input{
    float:left;
}


.TAN-poll-percent, .TAN-poll-percent-holder{
    display:block;
    height:24px;
}

.TAN-poll-percent-holder{
    margin:0px 10px;
    border:1px solid #a3a3a3;
    background-color:#f6f6f6;
}

.TAN-poll-percent{
    background-color:#c9c9c9;
}

.TAN-poll-percent-voted{
    position:absolute;
    bottom:12px;
    text-align:center;
    width:100%;
}
