.TAN-inside{
    background-color:#fff;
    overflow:hidden;
}

.TAN-inside li{
    margin:15px;
    float:left;
    height:150px;
    width:200px;
    border:#222 1px solid;
}

.block{
	display:block;
}

.picture_thumb{
	max-height:150px;
    max-width:200px;
    margin: auto;
    display:block;
}

.container{
	z-index:9999999;
    padding:7px;
    background-color:#111;
    width:375px;
}

.TAN-news{
	color:#fff !important;
    padding:0px !important;
    background-color:#222 !important;
}

.TAN-news p{
    color:#fff !important;
    margin:0px;
}

.TAN-news h2{
    margin:0px;
}

.TAN-news-alternate{
    background-color:#222 !important;	
}

.holder{
    background-color:#333;
    margin-right:140px;
}

.hidden{
    display:none !important;
    visibilty:hidden !important;
}

.big_picture{
    max-height:250px;
    max-width:300px;
    margin:10px;
}

.big_center_cell{
	display:table-cell;
	vertical-align:middle;
    height:150px;
    text-align:center;
    width:370px;
}

.center_cell{
	display:table-cell;
	height:150px;
	text-align:center;
	vertical-align:middle;
	width:250px;
}

.plusminus{
    margin-top:10px;
}

.big_font{
    font-size:1.25em !important;
}
