[% i = 0 %]

[% IF location == 'picture' %]
<div class="holder">
[% END %]

<ul id="inside">
[% FOREACH object = index_objects.all %]
    <li class="news[% IF (i % 2)  %] alternate[% END %]" id="[% object.type _ object.id %]">[% PROCESS 'lib/object.tt' %]</li>
    [% i = i + 1 %]
[% END %]
</ul>
<br class="clear" />

[% IF location == 'picture' %]
</div>
[% END %]

[% PROCESS 'lib/pagination.tt' %] 
