[% FOREACH css_include IN css_includes %]
    <link 
        type="text/css" 
        rel="stylesheet" 
        media="screen" 
        href="[% c.config.cache_path %]/minify/[% c.VERSION %]/[% theme_settings.name %]/css/[% css_include %].css"
    />
[%- END -%]
