[% PROCESS index/object.tt %]
    
<p>
    <span class="TAN-tags">
        [% FOREACH tag IN object.tags %]
            <a href="/tag/[% tag.tag %]">[% tag.tag %]</a>
        [% END %]
    </span>
    [%- IF tag_p_extra; tag_p_extra; END -%]
</p>
