[%-
	PROCESS 'lib/sidebar.tt';
	runtime =  time - start_time;
	sql_queries = c.model('MySQL').get_query_count();
-%]

    [%- PROCESS 'lib/ad.tt' ad = 'bottom' -%]
</div>
<div id="footer">
    [%- runtime.substr(0, 4) -%] seconds, [% sql_queries %] [% (sql_queries == 1) ? 'query' : 'queries' -%]
    <span id="jump"><a href="#top">Up</a>&nbsp;<a href="#bottom_ad">Down</a></span>
</div>
[%- PROCESS 'lib/ga.tt' -%]
</body>
