[%-
PROCESS 'lib/xhtml_head.tt';
PROCESS 'lib/top.tt';
IF message.defined -%]
    <script type="text/javascript">
    //<![CDATA[
    window.addEvent('domready', function(){
        TAN.alert("[%- message -%]");
    });
    //]]>
    </script>
[%- END -%]
