[%- FOREACH user IN c.model('DB::Views').whos_online -%]
    [%- username = user.username | html -%]
    <a href="[% user.profile_url %]">
        <img 
            title="[% username %]" 
            alt="[% username %]" 
            src="[% user.avatar %]" 
        />
    </a>
[%- END -%]
