<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        [%-
        page_title = page_title | html;
        IF page_title;
            page_title = page_title _ ' - ';
        END
        %]
        <title>[% page_title %]This Aint News</title>
        <meta name="Description" content="[% page_meta_description %]"/>
        <meta name="keywords" content="[% page_keywords %]"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        [%- PROCESS 'lib/css_includes.tt'-%]
        <link rel="shortcut icon" href="/static/favicon.ico" /> 
    </head>
    <body>
        [%- PROCESS 'lib/top.tt' -%]
        <div id="middle">
            [%-
                PROCESS 'lib/ad.tt' ad = 'right';
#CONTENT
                content;
#CONTENT
                PROCESS 'lib/sidebar.tt';
                runtime =  time - start_time;
                sql_queries = c.model('MySQL').get_query_count();

                PROCESS 'lib/ad.tt' ad = 'bottom'
            -%]
        </div>
        <div id="footer">
            [%- runtime.substr(0, 4) -%] seconds, [% sql_queries %] [% (sql_queries == 1) ? 'query' : 'queries' -%]
            <span id="jump"><a href="#top">Up</a>&nbsp;<a href="#bottom_ad">Down</a></span>
        </div>
    </body>
</html>
