body{
    font-size:0.8em;
    font-weight: normal;
    font-family: Arial, sans-serif;
}

.quoted_username{
    font-weight:bold;
}

.quote_holder{
    padding:5px;
    background-color:#e1ebf2;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border: #bebebe 1px solid;
}

.quote{
    padding-left:15px;
    font-style:italic;
}

img {
    border:0px;
}
