[%-
css_includes.push('view');
css_includes.push('profile@comments');
js_includes.push('nsfw-comments');
-%]
<ul class="TAN-inside TAN-comment_wrapper">
    [% FOREACH comment=comments.all %]
        <li class="TAN-news">
            [% PROCESS 'view/comment.tt' %]
        </li>
    [% END %]
    <li>
        [% PROCESS 'profile/pagination.tt' pager=comments.pager %]
    </li>
</ul>
