[%- css_includes.push('View') -%]

<ul class="TAN-inside">
    <li class="TAN-news TAN-hr">
        [% PROCESS "view/${type}.tt" %]
    </li>
    <li class="TAN-news" id="comments">
        [% PROCESS view/comments.tt %]
    </li>
</ul>
