[% css_includes.push('view', 'Profile@Comments') %]
[% js_includes.push('nsfw-comments') %]

<ul class="TAN-inside TAN-comment_wrapper">
    [% FOREACH comment IN comments.all %]
        <li class="TAN-news">
             [% PROCESS 'view/comment.tt' %]
        </li>
    [% END %]
    <li>
        [% PROCESS 'index/pagination.tt' pager=comments.pager %]
    </li>
</ul>
