[% tag_p_extra = PROCESS view_block %]
[% BLOCK view_block %]
    <br /><a 
        class="right TAN-type-link" 
        href="[% "/redirect/external/${object.id}" %]" 
        rel="external nofollow"
    >View Link</a>
[% END %]

[% PROCESS view/_view.tt %]
